
body{
    background-image: url('image/Background.jpeg');
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    font-size: 16px;
    margin: 0px;
    padding: 20px;
    text-align: center;
    width: 600px;
    background-position: center;
}

.header{
    text-align: center;
    color: blue;
}
.google-insta
{
  border-radius: 4px;
  padding: 0px 50px;
}

input[type=text], input[type=number], input[type=email], input[type=password], select, textarea
{
width: 200px;
padding: 2px;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}


.wrap-topbar
{
text-align:center;
display: flex;
align-items: flex-start;
}


label, input{margin: 0; padding: 0;}
label {margin-right: 10px;}

margins
{
 margin: 50px;
 border: 2px solid;
 margin-top:30px;
 margin:auto;
 width: 200px;
 margin: inherit;   
}

input[type=submit]
{
    background-color:gray;
    color: brown;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 160px;
}
.form-container
{
    border-radius: 5px;
    background-color:white;
    padding:20px;
    margin:200px 200px 200px 400px;
    width: 300px;
    text-align:left;
    background-position: center;
    border-radius: 10px;
    display: grid;
    gap: 10px 20px;

}
.form-row {
    align-items: center;
    margin-bottom: 10px;
    gap: 10px
    
}
.form-row label
{
margin-right: 10px;
    position: absolute;
    width: 150px;
}
.form-logo
{
  vertical-align: middle;

}
.button1{
  background-color: green;
  color: white;
  width: 250px;
  text-align: center;
  border-color: white;
  border-radius: 5px;
}